# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.pyc

# Environment
.env

# IDE
.vscode/

# Hugging Face checkpoints
backend/models/risk_classifier/checkpoint-*/

# Training artifacts
*.pt
*.pth

backend/models/risk_classifier/model.safetensors
backend/models/risk_classifier/checkpoint-*/

*.pt
*.pth